.button {
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--font-alt);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  border: 0;
  background-color: var(--button-bg);
  color: var(--button-color);
  min-width: 200px;
  text-align: center;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
  }

  &--full {
    width: 100%;
  }
}
