.button {
  display:inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  position: relative;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  min-width: 200px;
  text-align: center;
  background: transparent;

  &:focus {
    outline:0;
  }

  &:hover {

  }
}
