.error__page {
  &--message {
    background: var(--html-color);
    padding: 20px;
    text-align: center;

    &:before {
      content: '404 Page Not Found';
      display: block;
      text-transform: uppercase;
      font-size: 26px;
      line-height: 1;
      color: var(--text);
      margin: 0 0 30px;
    }

    &:after {
      content: '';
      display: block;
      height: 5px;
      width: 75px;
      background: var(--text);
      margin: 15px auto;
      transform: translateY(-65px)
    }
  }
}
