@use '../variables' as *;

.button {
  display: inline-block;
  border: 0;
  background: var(--color-main-color-2);
  color: #fff;
  padding: 12px 16px;
  font-size: $systemFontSize;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.08em;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    outline: none;
    background: color-mix(in srgb, var(--color-main-color-2), white 8%);
    color: #fff;
  }

  &--blue {
    background: var(--color-blue);
    &:hover {
      background: color-mix(in srgb, var(--color-blue), white 8%);
    }
  }

  &--red {
    background: var(--color-red);
    &:hover {
      background: color-mix(in srgb, var(--color-red), white 8%);
    }
  }

  &--green {
    background: var(--color-green);
    &:hover {
      background: color-mix(in srgb, var(--color-green), white 8%);
    }
  }

  &--grey {
    background: var(--color-grey);
    &:hover {
      background: color-mix(in srgb, var(--color-grey), white 8%);
    }
  }


  &--small {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 15px;
  }

}