.data-table {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-table-border);
  }

  thead, tfoot {
    th, td {
      background: var(--color-grey) !important;
      color: #fff;
      padding: 18px 8px;
      a {
        color: #fff;

        i {
          margin-left: 5px;
        }

        &:hover {
          color: color-mix(in srgb, #fff, black 10%);
        }
      }
    }
  }

  tfoot {
    th, td {
      padding: 10px 8px;
    }
  }

  tbody tr {

    &:nth-child(odd) .data-table__cell {
      background: var(--color-table-odd);
    }
    &:nth-child(even) .data-table__cell {
      background: var(--color-table-even);
    }
    &:hover .data-table__cell {
      background: color-mix(in srgb, var(--color-main-color-1), white 32%);
    }

    &.gu-transit, &.sortable-chosen {
      th, td {
        background: color-mix(in srgb, var(--color-blue), white 20%) !important;
        &, a {
          color: #fff;
        }
      }
    }
  }


  &__cell {
    text-align: left;
    padding: 10px 8px;
    border-top:1px solid var(--color-table-border);

    svg {
      height: 30px;
    }

    &--active {
      width: 80px;
      text-align: right;
    }

    &--id {
      width: 50px;
    }

    &--sort {
      width: 10px;
      cursor: n-resize;
    }

    &--bulk {
      width: 10px;
      .form__checkbox {
        margin-top: 4px;
      }
    }

    &--date-time {
      text-align: right;
      width: 226px;
    }

    &--controls {
      width: 100px;
      text-align: right;

      a {
        color: var(--color-green);
        &:hover {
          color: color-mix(in srgb, var(--color-green), black 10%);
        }

      }

      a + a {
        margin-left: 5px;
      }

      form {
        display: inline-block;
        margin-left: 10px;

        button {
          border: 0;
          background: none;
          cursor: pointer;
          color: var(--color-red);
          padding: 0;
          &:hover {
            color: color-mix(in srgb, var(--color-red), black 10%);
          }
        }
      }
    }

    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }

    &--options {
      &-plus, &-delete {
        width: 30px;
        text-align: center;
        i {
          cursor: pointer;
        }
      }

      &-plus i {
        color: #fff;
        &:hover {
          color: color-mix(in srgb, #fff, black 10%);
        }
      }

      &-delete i {
        color: var(--color-red);
        &:hover {
          color: color-mix(in srgb, var(--color-red), black 10%);
        }
      }

      &-label, &-value {
        input {
          width: 100%;
        }
      }

      &-value {
        width: 150px;
      }
    }

    &--repeatable {
      & + .data-table__cell--repeatable {
        margin-top: 10px;
      }
    }
  }

  &__repeatable {
    &--variations {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .data-table__cell--repeatable {
        flex: 0 0 49%;
        margin-bottom: 10px;

        /*&-0 {
          flex: 0 0 100%;
        }*/

        & + .data-table__cell--repeatable {
          margin-top: 0;
        }

        &-break {
          flex: 0 0 100%;
        }

        &-has-error .form__control {
          border-color: var(--color-red);
        }
      }
    }

    &--conditions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      .data-table__cell--repeatable {

        & + .data-table__cell--repeatable {
          margin-top: 0;
        }

      }

    }
  }
}
