.form {

  &__label {
    cursor: pointer;
    font-weight: 500;
    color: color(form-label);
    font-size: $systemFontSize;
  }

  &__control, .form__control--email-tags .selectize-input {
    display: block;
    width: 100%;
    border: 0;
    font-size: $systemFontSize;
    line-height: 1.3;
    padding: 2px 0 6px;

    background: #fff no-repeat;
    background-position: center bottom, center 99%;
    background-image: linear-gradient(color(main-color-1), color(main-color-1)), linear-gradient(color(input-border), color(input-border));
    background-size: 0 2px, 100% 1px;

    transition: all 0s linear 0s;

    &:focus, &.input-active {
      background-size: 100% 2px, 100% 1px;
      transition-duration: 0.2s;
    }

    &[readonly] {
      cursor: default;
      &:focus {
        background-size: 0 2px, 100% 1px;
      }
    }

    &--url {
      display: flex;

      span {
        display: inline-block;
        padding: 5px 6px;
        background: #e5e5e5;
      }

      .form__control {
        padding-left: 4px;
        flex: 1;
      }

      .copy-url {
        cursor: pointer;
        flex: 0 0 20px;
      }
    }

    &--link {
      display: flex;
      justify-content: space-between;

      .form__control {
        flex: 1;
      }
      .button {
        flex: 0 0 81px;
        margin-left: 10px;
      }
    }

    &--tags {
      > input {
        display: none;
      }
    }

    &--options {
      .data-table {
        thead, tfoot {
          th, td {
            padding: 10px 8px;
          }
        }
      }

      &-row {
        &.gu-mirror {
          visibility: hidden !important;
        }
      }
    }

    &--email-tags {
      .selectize-input {
        padding: 2px 0 6px !important;
      }
    }
  }

  &__row {
    margin: 0 0 20px;

    &--floating-labels {
      margin: 25px 0 0;
      position: relative;

      .form {
        &__label {
          color: color(form-label);
          cursor: text;
          position: absolute;
          transform: translateY(-29px);
          transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
          transform-origin: 0% 100%;
        }

        &__control {
          padding-top: 6px;
        }
      }

      &--with-placeholder .form__label,
      .form__control:focus ~ .form__label,
      .form__control:valid ~ .form__label,
      .form__control--active ~ .form__label {
        transform: translateY(-48px);
        font-size: 12px;
        color: color(main-color-1);
      }

    }


    &--required .form__label {
      &:after {
        content: '*';
        font-size: 90%;
        color: color(red);
        display: inline-block;
        margin: -2px 0 0 2px;
      }
    }

    &--has-error {
      .form {
        &__label {
          color: color(red);
        }
        &__control {
          background-image: linear-gradient(color(main-color-1), color(main-color-1)), linear-gradient(color(red), color(red));
        }
      }
    }

    &--buttons {
      margin-top: 20px;

      .button {
        width: 100%;
      }

      &-inline {
        text-align: right;

        .button {
          width: auto;
        }
      }
    }

    &--remember {
      display: flex;
      justify-content: space-between;

      * {
        flex: 0 0 50%;
      }
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    &--1 .form__row {
      flex: 0 0 100%;
    }

    &--2 .form__row {
      flex: 0 0 49%;
      margin-right: 2%;
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    &--3 .form__row {
      flex: 0 0 32%;
      margin-right: 2%;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    &--4 .form__row {
      flex: 0 0 23.5%;
      margin-right: 2%;
      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }

    &--5 .form__row {
      flex: 0 0 18.4%;
      margin-right: 2%;
      &:nth-child(5n+5) {
        margin-right: 0;
      }
    }

    &--auto .form__row {
      flex: 1;

      &--buttons {
        flex: 0 0 130px;
        text-align: right;
      }
    }
  }

  &__note {
    font-size: $systemFontSize - 2px;
    line-height: 1.5;
    font-style: italic;
    margin-top: 4px;

    &--error {
      color: color(red);
    }
  }

  &__checkbox {
    height: 17px;

    label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      font-weight: 500;
      line-height: 1.3;
      font-size: $systemFontSize;
      overflow: hidden;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 17px;
        margin-right: 4px;
        border-radius: 2px;
        border: 1px solid color(input-border);
        transition: .2s ease-in-out;
        cursor: pointer;
      }

      &:after {
        content: '\f00c';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        left: 3px;
        top: 7px;
        cursor: pointer;
        font-size: 11px;
        color: #fff;
        opacity: 0;
        transition: .2s ease-in-out;
      }
    }

    input {
      display: none;
      &:checked ~ label {
        &:before {
          background: color(main-color-1);
          border-color: color(main-color-1);
        }
        &:after {
          opacity: 1;
          top: 2px;
        }
      }
    }

  }

  &__forgotten {
    text-align: right;
    line-height: 1.3;
  }

  &__horz {
    .form {

      &__row {
        display: flex;
        border-bottom: 1px solid color(input-border);
        padding: 0 0 20px;

        &:last-child {
          margin: 0;
          padding: 0;
          border-bottom: 0;
        }
      }

      &__label {
        flex: 0 0 200px;
        font-weight: bold;
      }

      &__horz-group {
        flex: 1;
      }

      &__note {
        margin-top: 8px;
      }
    }
  }


  &__image {
    width: 220px;

    figure {
      border: 1px solid #e5e5e5;
      background: #f7f7f7;
      padding: 5px;
      width: 220px;
      height: 250px;

      .form__image-thumb {
        display: block;
        width: 208px;
        height: 208px;
        position: relative;
        background-color: #fff;
      }

      img {
        display: block;
        width: 100%;
        visibility: hidden;
      }

      .form__image-thumb-img {
        display: block;
        position: absolute;
        background: no-repeat center center / contain;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      .form__image-thumb-video i {
        display: block;
        font-size: 100px;
        line-height: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .form__image-thumb-name {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        text-align: center;
      }

      figcaption {
        font-size: 14px;
        line-height: 1;
        color: color(main-color-2);
        font-weight: 700;
        text-align: center;
        padding: 10px 0 0;

        span {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    aside {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }



    &-alt-text {
      margin-top: 8px;

      label:after {
        display: none !important;
      }
    }
  }

  &__file {
    &-name {
      margin-bottom: 10px;
      font-size: $systemFontSize - 2px;

    }

    &--title {
      font-size: $systemFontSize;
    }
  }
}

select.form__control {
  width: auto;
  padding: 6px;
  border: 1px solid color(input-border);
  background-image: none;
  border-radius: 4px;

  &:focus {
    border-bottom-color: color(main-color-1);
  }

  &--full-width {
    width: 100%;
  }
}

textarea.form__control {
  height: 160px;
  resize: none;
  background-color: #fbfbfb;
  padding: 2px 2px 4px;
}

.app__module--team .form__group--5 .form__row {
  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
    flex: 0 0 32%;
    margin-right: 2%;
  }

  &:nth-child(4) {
    margin-right: 19%;
    flex: 0 0 49%;
  }

  &:nth-child(5) {
    flex: 0 0 32%;
  }

  &:nth-child(3), &:nth-child(5) {
    margin-right: 0;
  }
}
