.note {
  color: #fff;
  padding: 15px;
  font-weight: 500;

  background: var(--color-blue);

  &--success {
    background: var(--color-green);
  }

  &--warning {
    background: var(--color-yellow);
  }

  &--error {
    background: var(--color-red);
  }
}