.paging {
  margin-top: 40px;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  a, span {
    display: block;
    border-radius: 2px;
    text-align: center;
    padding: 5px 14px;

    & + & {
      margin-left: 5px;
    }
  }

  li {
    display: inline-block;

    &.active span {
      background: color(main-color-2);
      color: #fff;
    }
  }

  a:hover {
    background: color(main-color-1);
    color: #fff;
  }

}