.settings {
  .pages {
    &__header {
      background: #fff;
      padding: 0 15px;
      box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);

      &, h3 {
        color: color(black);
      }
    }

    &__info {
      background: #EDF1F5;
    }
  }

  .content-editor {
    &__controls, &__field {
      background: #fff;
      padding: 20px;
      border-bottom: 0;
    }
  }
}