.text {
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  &--justify {
    text-align: justify;
  }

  &--red {
    color: var(--color-red) !important;
  }

  &--no-margin {
    margin: 0;
  }
}

a.text {
  &--red:hover {
    color: color-mix(in srgb, var(--color-red), black 10%) !important;
  }
}

code {
  display: inline-block;
  padding: 2px;
  background: #f4f4f4;
}