.page__content {
  .cont {
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    s {
      font-weight: 600;
      color: color(main-color-2);
      text-decoration: none;
    }
  }
}
