.holder {
  position:relative;
  max-width:$holderWidth;
  margin:0 auto;
  width: 100%;
  @include respond(1250px) {
    padding: 0 20px;
  }

  &--large {
    max-width: $holderLargeWidth;
  }
}

.note {
  margin:0 0 20px;
  &.has-error { color:color(required); }
}


.required { color:color(required); }
