$systemFontSize: 18px;
$headingFontSize: 35px;
$systemLineHeight: 1.5;
$printFontSize: 16px;

$systemFont: 'Source Sans Pro', Arial, Helvetica, Verdana, sans-serif;
$holderWidth: 1200px;
$holderLargeWidth: 1200px;
$headerShadow: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);

$respondMedium: 1030px;
$respondSmall: 850px;
$respondTiny: 660px;
$respondSuperSmall: 560px;
$mobileMenuAt: 900px;

$darkenAmount: 10;
$lightenAmount: 10;
$opacity: 0.8;

$headerHeight: 177px;
$mobileHeaderHeight: 100px;
