@import 'variables';

@import 'mixins/respond';

:root {
	--main-color-1: #6f6259;
	--main-color-2: #c2512f;
	--main-color-3: #939597;

	--body-color: #ffffff;
	--html-color: #ffffff;
	--text-color: #6f6259;
	--required-color: #c00;

	--border-color: #d6d6d6;

	--site-padding: 120px;
	--block-padding: 80px;

	@include respond(660px) {
		--block-padding: 30px;
	}

	@include respond(1600px) {
		--site-padding: 80px;
	}

	@include respond(1200px) {
		--site-padding: 30px;
		--block-padding: 60px;
	}

	@include respond(500px) {
		--block-padding: 20px;
	}
}

@import 'partials/normalize';
@import 'partials/setup';
@import 'partials/document-setup';
@import 'partials/paging';

@import 'pages/top';
@import 'pages/block';

@import 'components/animations';
@import 'components/buttons';
@import 'components/text';
@import 'components/form';
@import 'components/footer';
@import 'components/banner';
@import 'components/error-pages';
@import 'components/image';
@import 'components/menu';
@import 'components/modal';
@import 'components/content-block';
@import 'components/heading';
@import 'components/flex';
@import 'components/search';

@import 'plugins/swiper';
