.pages {
  display: flex;
  flex-direction: row;
  background: #fff;
  flex: 1;

  .app__trigger {
    display: none;
    flex: 0 0 45px;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
    @media only screen and (max-width: 830px) {
      display: block;
    }
  }

  &__tree {
    flex: 0 0 20%;
    padding: 20px;
    overflow: auto;
    border-right: 1px solid #e5e5e5;
    position: relative;

    @media only screen and (max-width: 830px) {
      position: absolute;
      left: -300px;
      width: 300px;
      background-color: #fff;
      height: calc(100vh - 60px);
      z-index: 300;
      transition: left 200ms linear;
    }

    &--active {
      left: 0;
    }

    .app__trigger {
      text-align: right;
      padding: 0;
      border: 0;
      margin-bottom: 10px;

      svg {
        height: 20px;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-editor {
      h3 {
        margin-bottom: 0;
      }

      &-buttons {

      }
    }
  }

  &__header {
    background: color(main-color-1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 68px;

    @media only screen and (max-width: 520px) {
      flex-wrap: wrap;
      flex: 0 0 94px;
    }

    &, h3 {
      color: #fff;
    }

    h3 {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1;
      margin: 0;
      font-weight: bold;
    }

    span {
      margin: 0 5px;
      display: inline-block;
    }

    aside {
      flex: 0 0 341px;
      text-align: right;
      @media only screen and (max-width: 520px) {
        flex: 0 0 100%;
        margin-top: 10px;
      }
    }
  }

  &__info {
    flex: 1 0 0;
    min-height: 0;
    z-index: 2;
    position: relative;
    padding: 20px;
    overflow: auto;
  }

  &__tabs {
    z-index: 3;
    padding: 0 20px;
    background: color(main-color-1);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }

  }

  &__tab {
    margin: 0;
    padding: 0 15px 10px;
    cursor: pointer;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }

    &--active {
      opacity: 1;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: color(green);
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }

    &-pane {
      .pages__tab-pane-header {
        display: flex;
        justify-content: space-between;
      }

      &--full {
        height: 100%;
      }
    }

  }

}
