.button {
  display:inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-size: $systemFontSize - 2;
  padding: 10px 20px;
  position: relative;
  border: 1px solid color(text);
  color: color(text);
  min-width: 200px;
  text-align: center;
  background: transparent;

  &:focus {
    outline:0;
  }

  &:hover {
    color: color(main-color-2);
    border-color: color(main-color-2);
  }

  &--white {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #fff;
    }
  }

  &--full {
    width: 100%;
  }
}

.buttons {
  margin: 50px 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include respond(500px) {
    margin: 30px 0;
  }

  li {
    margin: 0 0 20px;
    text-align: center;
    p {
      display: inline-block;
      margin: 0;
    }

    a {
      width: 100%;
    }

    & + li {
      margin-left: 20px;
    }

    @include respond(500px) {
      flex: 0 0 100%;
      margin: 0 0 15px;
      & + li {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
