.search {
  &__highlight {
    font-style: italic;
    font-weight: bold;
    background: #ffff00;
  }

  &__result {
    margin-bottom: 1em;

    blockquote {
      margin: 0 0 20px;
      padding: 0;
    }
  }

  &__form {
    margin: 0 0 30px;

    form {
      display: flex;

      svg {
        height: 15px;
      }
    }
  }
}
