.spinner {
  display: inline-block;

  &__icon, &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    width: 20px;
    margin-left: 3px;
  }

  svg {
    animation: spinner 2s infinite linear;
  }

  &--not-loading {
    .spinner__icon {
      display: none;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
