.page__block {
  --text-color: var(--black);
  --background-color: var(--white);

  background-color: var(--background-color);
  padding: var(--block-padding) 0;
  color: var(--text-color);

  &--no-padding {
    padding: 0;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &--full-width-image img {
    width: 100%;
    display: block;
  }

  &--bg {
    &-white {
      --background-color: var(--white);
    }
  }
}
