.page__block {
  padding: 80px 0;

  @include respond(660px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--no-padding {
    padding: 0;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &--full-width-image img {
    width: 100%;
    display: block;
  }
}
