.page__top {
  padding: 0 var(--site-padding);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9000;
  background: var(--main-color-1);
  flex-wrap: nowrap;

  @include respond(1920px) {
    padding: 0 30px;
  }

  a {
    color: var(--main-color-2);
  }
}

.page__logo {
  a {
    display: block;
  }

  svg {
    height: 50px;
    max-width: 100%;
  }
}
